{% include 'base.html' %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
  
  <div class ="container my-3">
    <div class="d-flex" style ="justify-content: space-between">
      <h3>Customer History</h3>
      <a class="btn btn-primary btn-sm my-3" href="{% url 'register' %}" role="button">New payment</a>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th> Date</th>

        <th>Opd Charges</th>
        <th> Medicine Charges</th>
        <th> Procedure</th>
        <th> Total</th>
    
      </tr>
        {% for i in payment %}
        <tr class = "center">
          
          <td>{{i.Customer_info}} </td>
          <td>{{i.date}} </td>

          <td>{{i.opd}} </td>
          <td>{{i.med}} </td>
          <td>{{i.procedure}} </td>
          <td>{{i.total}} </td>
          
        </tr>
        {% endfor%}
        
        
      
    </table> 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



{% comment %} <table class="table">
  <thead>
      <tr>
          <th>Year with most launches</th>
          <th>Launch site with most launches</th>
          <th>Number of launches between 2019 and 2021</th>
      </tr>
  </thead>
  <tbody>

      <tr>
        {% for i in pmt %}
          <td>{{ i.phone }}</td>
        {% endfor %}
      </tr>

  </tbody>
</table> {% endcomment %}